#form {
  position: relative;
  width: 432px;
  top: 96px;
  margin: 0 auto;
  padding-bottom: 8px;
  background: #fff;
  @include box_shadow(0px 1px 1px 1px #bbb);
  h2 {
    text-align: center;
    padding-top: 24px;
    color: $header_bg;
  }
  input {
    width: 400px;
    height: 24px;
    margin: 16px;
    font-size: 16px;
    border-bottom: solid 2px #E0E0E0;
  }
  .sign-up-btn {
    background: #5C6BC0;
    width: 96px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    float: right;
    margin: 0 16px 16px;
  }
}