.search-area {
  margin: 20px;
  md-input-container {
    padding: 0;
    width: 20%;
  }
}

md-grid-list {
  margin: 20px;

  md-grid-tile.wiki_list {
    background-color: #448aff;

    md-grid-tile-header {
      opacity: 0;
    }
    &:hover md-grid-tile-header {
      opacity: 1;
    }

    h2 {
      color: rgba(255, 255, 255, 0.7);
    }

    md-grid-tile-footer {
      height: auto;
      min-height: 48px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      span {
        display: inline-block;
        margin: 4px;
      }
    }
  }
}
