.editor
  %h2 Markdown
  %textarea#editor-area{'ng-model'=>'markdown', 'ng-change'=>'markdown_change()'}
.preview
  %h2 Preview
  %p#preview-area{'ng-bind-html'=>"pre"}
%button{'ng-click'=>'postDoc()'} POST
