#login-form
  %input{"ng-model"=>"login_params.login_id","placeholder"=>"Login ID"}
  %input{"ng-model"=>"login_params.password","placeholder"=>"Password", "type"=>"password"}
  %button{"ng-click"=>"login()"} login
