#form
  %h2 Login
  %input{"ng-model"=>"login_params.login_id","placeholder"=>"Login ID"}
  %input{"ng-model"=>"login_params.password","placeholder"=>"Password", "type"=>"password"}
  .button{"ng-click"=>"login()"}
    .font login

  .button.sign-up-btn{"ui-sref"=>"sign_up"} Sign Up
  .clear-both
%alert-bar{"messages"=>"errors"}
