#form
  %h2 Sign Up
  %input{"ng-model"=>"sign_up_params.name","placeholder"=>"Name"}
  %input{"ng-model"=>"sign_up_params.login_id","placeholder"=>"Login ID"}
  %input{"ng-model"=>"sign_up_params.password","placeholder"=>"Password(英数字8文字以上)", "type"=>"password"}
  %input{"ng-model"=>"sign_up_params.password_confirmation","placeholder"=>"Password Confirmation", "type"=>"password"}
  .button{"ng-click"=>"login()"}
    %a.font sign up

%alert-bar{"messages"=>"errors"}