#form
  %h2 Sign Up
  %input{"ng-model"=>"sign_up_params.name","placeholder"=>"Name"}
  %input{"ng-model"=>"sign_up_params.login_id","placeholder"=>"Login ID"}
  %input{"ng-model"=>"sign_up_params.password","placeholder"=>"Password", "type"=>"password"}
  %input{"ng-model"=>"sign_up_params.password_confirmation","placeholder"=>"Password Confirmation", "type"=>"password"}
  .button{"ng-click"=>"login()"}
    .font sign up
%alert-bar{"messages"=>"errors"}