
.title {{title}}
.auther {{user_name}}
.tags{"ng-repeat"=>"tag in tags"}
  .tag {{tag.name}}
.edit-link{"ng-if"=>"is_edit", "ui-sref"=>"edit_wiki({wiki_id: wiki_id})"} 編集
.delete-button{"ng-if"=>"is_edit", "ng-click"=>"show_comfirmation()"} 削除
.markdown-body
  .content{'ng-bind-html'=>"content"}
