%md-content{'style'=>'margin:20px; background-color: transparent;'}
  .titlebar{'layout'=>'row', 'layout-align'=>"center center"}
    %md-input-container{'flex'=>'true'}
      %label Title
      %input{'ng-model'=>'title'}
    %md-button{'ng-click'=>'postDoc()'} POST

  %tags-input{'ng-model'=>'tags'}

  %md-grid-list{'md-cols'=>"2", 'md-gutter'=>"4px", 'md-row-height'=>"500px"}
    %md-grid-tile
      .editor
        %textarea#editor-area{'ui-codemirror'=>'true', 'ui-codemirror-opts'=>'editorOptions', 'data-ng-model'=>'markdown.content', 'ng-change'=>'markdown_change(this)'}
    %md-grid-tile
      .preview
        %md-content
          #preview-area.markdown-body{'ng-bind-html'=>"pre"}

%alert-bar{"messages"=>"errors"}